.navbar {
    background-color: #0F7173;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0px !important;
    justify-content: flex-start;

    .logo_container {
        width: 15%;
        background-color: #F05D5E;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.navbar img {
    height: 80%;
    padding: 0 10px;
    cursor: pointer;
}


.links_container {
    display: flex;
}

.ham{
    display: none !important;
    justify-content: space-around;
    background-color: #E7ECEF;
}

.navbar .links_container a {
    color: white;
}


.links_container a {
    display: block;
    color: #0F7173;
    text-align: center;
    margin: 14px 30px;
    text-decoration: none;
}


.search {
    float: right;
    padding: 10px;
}


.search input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.search_container {
    display: flex;
    align-items: center;
    flex: auto;
    justify-content: end;

    .person {
        height: 40px;
        background-color: #E7ECEF;
        border-radius: 100%;
        padding: 5px;
    }

    padding: 0 30px;
}


.contacto {
    font-size: 16px;
    margin-bottom: 10px;
}


.redes-sociales a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
}


.copyright {
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0F7173;
    color: white;
    padding: 20px;
    text-align: center;
}

.navbar .hamburger-menu {
    display: none;
}

.text_footer {
    margin: 0;
}

@media screen and (max-width: 866px) {
    .navbar .links_container {
        display: none;
    }

    .ham{
        display: flex !important;
    }
}