.btn-custom {
  background-color: #0F7173;
  color: #fff; /* Color del texto */
  /* Puedes agregar más estilos según tus preferencias */
}

.btn-custom:hover {
  background-color: #0D5E63; /* Cambiar el color al pasar el mouse */
}

