@import url(../../header_footer/css/topbar_style.css);


.divrojo{
    background-color: #d8a47f;
    border-radius: 1.5rem;
    width: 70%;
    border: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
}   
.cuerpocartas{
    background-color: #f05d5e;
    border-radius: 0 0 15px 15px;
}
.textocartas{
    color: white ;
}
.cardservices{
    background-color: #d8a47f;
    border: 0;
}
/*
.card{
    background-color: #d8a47f;
    border: 0;
}