.carrusel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh; /* Opcional: ajusta la altura del contenedor al tamaño de la ventana */
  }
  
  .carrusel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 70%; /* Ajusta el ancho del carrusel según tu preferencia */
    max-width: 100%; /* Evita que el carrusel sea más grande que el viewport */
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* Añadir desplazamiento suave en Safari */
    padding-bottom: 20px; /* Para evitar que las flechas se superpongan al contenido al llegar al final */
    align-items: center;
  }
  /* Oculta la barra de desplazamiento en Chrome y Safari */
.carrusel::-webkit-scrollbar {
    display: none;
  }
  
  /* Estilos adicionales para Firefox */
  .carrusel {
    scrollbar-width: none;
  }
  
  .elemento {
    flex: 0 0 auto;
    margin: 0 80px; /* Ajusta el margen para separar las imágenes */
    width: 300px; /* Ancho deseado */
    height: 200px; /* Altura deseada */
    scroll-snap-align: start;
      transition: transform 0.3s ease; /* Agrega una transición suave para el escalado */

  }  
  
  .elemento img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen dentro de su contenedor */
  }
  
  .arrow-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1; /* Para que estén sobre el carrusel */
  }
  
  #prevBtn {
    left: 10px;
    margin-top: 6%;
  }
  
  #nextBtn {
    right: 10px;
    margin-top: 6%;
  }

  .elemento-central{
    height: 500px;
  }
