@import url(../../header_footer/css/topbar_style.css);

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  header,
  body {
    width: 100%;
    height: 100%;
    font-family: "Ubuntu", sans-serif;
  }


  /* VENTANA NOMBRE EMAIL Y FOTO DE PERFIL*/

#ventana_nombre {
    width: 0%;
}

#ventana_emial {
    width: 0%;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255, 0.3);
  overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: black;
    display: flex;
    justify-content: center;
  }

  .overlay-content > div {
    padding: 20px;
    width: 25vw;
    height: 20%;
    align-self: center;
    border-radius: 2%;
    background-color: white;
    display: relative;
    float: left;
    border: 2px solid gray;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 2px 2px 20px gray;
}

.overlay-content > div > h3 {
    padding-top: 50px;
}

.overlay-content > div > p {
    margin: 20px;
}

.overlay-content > div > p > input {
    border-radius: 10px;
    border: 2px solid gray;
    width: 75%;
}

.overlay-content > div > div {
    margin: 0 auto;
    display: inline-block;
    border: 1px solid green;
}

.overlay-content > div > div > button{
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    border: 1px solid red;
}

.overlay-content > div > div > button:hover{
    border: 2px solid gray;
    color: white;
    background-color: rgb(56, 56, 56);
    padding: 8px;
    border-radius: 8px;
    transition: linear 0.1s;
}

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    text-decoration: none;
  }


.main {
    width: 100%;
    height: 90vh;
}

.row {
    height: 100%;
}

.aside {
    background-color: #F05D5E;
    display: flex;
    position: relative;
    width: 15%;
}

.circulo {
    width: 100%;
    padding-bottom: 100%;border-radius: 50%;
    background-image:url("https://i.pinimg.com/736x/34/cb/b9/34cbb9329d194cae02d75c7337bd19d4.jpg");
    background-size: cover;
    position: absolute;
    left: 100%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.circulo > a {
    display: none;
    text-decoration: none;
}

.circulo_dentro {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: background 0.3s;
    transform: translate(-50%, -50%);
}

.circulo_dentro:hover {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icono_imagen {
    font-size: 200%; /* Ajusta el tamaño del ícono según tus preferencias */
    position: fixed;
    left: 50%; /* El centro horizontal del círculo */
    top: 50%; /* El centro vertical del círculo */
    transform: translate(-50%, -50%); /* Centrar el ícono en el círculo */
    color: white; /* Color del ícono */
}

#icono_nombre {
    color: black;
    transition: color 0.3s;
    display: none;
    padding-top: 25%;
    padding-left: 25%;
    font-size: 30px;
}

#link_nombre {
    text-decoration: none;
}

#icono_email {
    display: none;
    position: absolute;
    padding-left: 0.5%;
    color: black;
    transition: color 0.3s;
}

#icono_email:hover, #icono_nombre:hover {
    color: gray;
}

.section {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo {
    align-self: center;
    width: 70%;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
}

.titulo > div {
    display: flex;
    flex-direction: row;
}

.opciones {
    height: 30vh;
}

.opciones > a > h2 {
    padding: 20px 0;
    margin-left: 5%;
    width: 50%;
}

.opciones > a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.opciones > a:hover {
    color: gray;
}

/* Mobile */
@media only screen and (max-width: 866px) {
    .aside {
        width: 100%;
    }

    .circulo {
        width: 19%;
        padding-bottom: 19%;
        border-radius: 50%;
        background-image:url("https://i.pinimg.com/736x/34/cb/b9/34cbb9329d194cae02d75c7337bd19d4.jpg");
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .circulo > a {
        display: none;
        text-decoration: none;
    }
    
    .circulo_dentro {
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4);
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transition: background 0.3s;
        transform: translate(-50%, -50%);
    }
    
    .circulo_dentro:hover {
        width: 100%;
        padding-bottom: 100%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6);
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}