@import url(../../header_footer/css/topbar_style.css); /*header and footer of the website*/

.custom-button {  /*button to log in*/
  width: 200px;
  background-color: #0f7173;
  color: #fff;
  border-radius: 20px;
  border: 0cm;
  font-weight: bold;
  padding-bottom: 1%;
}
.custom-button:hover {  /*button to log in when is hover*/
  background-color: #0f7173;
  transform: scale(0.95);
}

.links { /*links to sign up or restablice the password*/
  a {
    color: gray;
    text-align: center;
    font-size: 10pt;
    text-decoration: none;
  }
  a:hover {
    color: #0f7173;
  }
  display: flex;
  flex-direction: column;
  margin: 4%;
}

.shadow-rectangle { /*shadow rectangle which contains everything*/
  background-image: url(../../../assets/img/vector-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 47%;
  min-width: 400px;
  height: 60vh;
  min-height: 400px;
  background-color: #f2f6f7;
  border-radius: 10px;
  box-shadow: 1px 2px 13px 7px #c3c9cc; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  form{ /*formulary to log in*/
    width: 100%;
    position: relative;
    left: 15%;
    
    .container{  /*to distribute things at the container*/
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  input {  /*enter here the password and email*/
    width: 350px;
    border: 0cm;
    padding-top: 10%;
    border-bottom: 1px solid black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px;
    outline: none;
  }
}

.text-center{  /*to distribute buttons*/
  position: absolute;
  top: 44%;
  left: 74%;
  flex-direction: column;
  align-items: center;
}

.btn.btn-floating { /*insert propierties to the buttons*/
  font-size: 24px; 
  width: 50px; 
  height: 50px; 
  margin-bottom: 20%;
}


.img-container{ /*to distribute the logo*/
  width: 150px;
  height: 150px;
  background-image: url(../../../assets/img/logo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

/*Responsive*/

@media screen and (max-width: 1350px) { /*medium*/
    .shadow-rectangle { /*shadow rectangle which contains everything*/
      background-image: url(../../../assets/img/logo-opacity.svg);
      background-size: contain;
      form{ /*formulary to log in*/
        width: 100%;
        position: relative;
        left: 0%;
    }
  }
}

@media screen and (max-width: 1000px) { /*small*/
  .shadow-rectangle { /*shadow rectangle which contains everything*/
    background-image: url(../../../assets/img/logo-opacity.svg);
    background-size: cover;
    form{ /*formulary to log in*/
      width: 100%;
      position: relative;
      left: 0%;
    }
  }
}

@media screen and (max-width: 500px) { /*so small*/
  .shadow-rectangle { /*shadow rectangle which contains everything*/
    background-image: url(../../../assets/img/logo-opacity.svg);
    background-size: cover;
    form{ /*formulary to log in*/
      width: 100%;
      position: relative;
      left: 0%;
    }
  }
}