@import url(../../header_footer/css/topbar_style.css);
.form-control{
    background-color: #EFE2D8;
    border: 1px solid #e4d0c2;
}
.form-control:focus{
    box-shadow: 0 0 15px #e4d0c2;
    border: 1px solid #e4d0c2;
    outline: none;
}
.form-select{
    background-color: #EFE2D8;
    border: 1px solid #e4d0c2;
}
.form-select:focus{
    box-shadow: 0 0 15px #e4d0c2;
    border: 1px solid #e4d0c2;
    background-color: white;
    outline: none;
}
.btn{
    color: #0F7173;
    border: 2px solid #0F7173;
   
}
.btn:hover{
    color: white;
    background-color: #0F7173;
}
.form-check-input:checked{
    background-color: black;
    border: 1px solid black;
    box-shadow: none;
}
.form-check-input:focus{
    border: 1px solid black;
    box-shadow: none;
}
tr,td{
   padding-right: 50px;
   padding-bottom: 30px;
   vertical-align: top;
}
table{
    height: 100%;
    width: 100%;
}

