@import url(../../header_footer/css/topbar_style.css);

.btn-custom {
  background-color: transparent;
  color: #0f7173;
  border: 2px solid #0f7173;
}

.btn-custom:hover {
  background-color: #F05D5E;;
  color: #fff; /* Cambiar el color del texto al pasar el mouse */
}

.btn-custom:focus {
  background-color: #F05D5E;; /* Cambiar el color al hacer clic */
  color: #fff;
}

.btn-custom-alt {
  background-color: #F05D5E;

  color: white; /* Cambia el color del texto según tus necesidades */
  /* Otros estilos personalizados según tus necesidades */
}

.btn-custom-alt:hover,
.btn-custom-alt:active {
  color: white;
}

.btn-secondary {
  background-color: #272932;
  color: #fff; /* Color del texto */
}

.btn-secondary:hover {
  background-color: #272932; /* Mismo color cuando se pasa el mouse */
  color: #F05D5E; /* Cambiar el color del texto al pasar el mouse (opcional) */
  border: 2px solid #F05D5E;
}

/* Estilo cuando el botón está enfocado (seleccionado) */
.btn-secondary:focus {
  outline: none; /* Elimina el contorno predeterminado del foco */
  background-color: #0f7173;
  color: #fff; /* Cambiar el color del texto al pasar el mouse (opcional) */
  border: 2px solid #F05D5E;
}
.card-img-top {
  height: 55%; /* Tamaño fijo de altura */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsionar */
}

