@import url(../../header_footer/css/topbar_style.css);

.btn-custom {
    background-color: transparent;
    color: #0F7173;
    border: 2px solid #0F7173;
  }

  .btn-custom:hover {
    background-color: #0F7173;
    color: #fff; /* Cambiar el color del texto al pasar el mouse */
  }

  .btn-custom:focus {
    background-color: #0F7173; /* Cambiar el color al hacer clic */
    color: #fff;
  }

  /* Estilos para la barra lateral */
.l-navbar {
    position: fixed;
    top: var(--header-height); /* Coloca la barra lateral debajo del encabezado */
    left: 0;
    width: 250px; /* Ancho de la barra lateral según tus preferencias */
    height: 100%; /* O ajusta la altura según tus necesidades */
    background-color: #333; /* Color de fondo de la barra lateral */
    padding: 1rem;
    color: #fff; /* Color del texto en la barra lateral */
  }

  main {
    margin-left: 260px; /* Ajusta según el ancho de la barra lateral + margen */
  }
  